<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">Welcome to Upldr</p>
  <hr class="m-y-2">
  <p>A file storage alternative.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/uploads" role="button">Start Uploading</a>
  </p>
</div>
